
.widget {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 580px;
  height: 120px;
background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
border: 1px solid rgba(255, 255, 255, 0.12);
  justify-content: center;
  display: flex;
}

.content {
   position: relative;

   margin-left: 8px;
   width: 80px;
   height: 100px;
}

.symbol{
	
	font-size:64px;
	background: linear-gradient(to right, #A7CFDF 0%, #23538A 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	text-align: center;
	vertical-align: middle;
}
.caption{
	position: fixed;
	font-size:16px;
	background: #A7CFDF;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	bottom: 20%;

}