.widget {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 380px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  display: flex;
}

.content {
  position: relative;
}

.symbol{
	position:relative;
	font-size:48px;
	background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.caption{
	font-size:12px;
	background:#A7AEA3;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	text-align:center;
}